services:
  db:
    build:
      context: ./
      dockerfile: /docker/db.Dockerfile
    container_name: mysql_db
    networks:
      - backend
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: ecommerce_db
    volumes:
      - db_data:/var/lib/mysql

  web:
    build:
      context: ./
      dockerfile: /docker/frontend.Dockerfile
    container_name: web_app
    ports:
      - "443:443"  
    networks:
      - backend
    depends_on:
      - db

networks:
  backend:
    driver: bridge

volumes:
  db_data: